
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='public/pugStyle.css')
  title #{response.title}
body
    p #{response.title} 
    img(src='../public/images/' + response.image)
